* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.container {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    background-color: #06283D;
    padding: 40px 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}

.container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
    text-align: center;
    color: #47B5FF;
    text-transform: uppercase;
}

.inputBox {
    position: relative;
    margin-bottom: 24px;
}

.inputBox span {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    color: #333333;
    font-size: 20px;
    cursor: pointer;
}

.passBox {
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #DFF6FF;
    color: #333333;
    outline: none;
}

input[type="range"] {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row p {
    font-weight: 700;
    color: #DFF6FF;
}

.row label {
    color: #DFF6FF;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.getBtn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1363DF;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color .3s ease;
}

.getBtn:hover {
    background-color: #1d1e20;
}

#sliderValue {
    margin-right: 8px;
    color: #DFF6FF;
}


@media (max-width: 500px ) {
    .container {
        max-width: 300px;
        padding: 30px 20px;
    }

    .container h1 {
        margin-bottom: 30px;
    }
}