* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to left, #99B898, #FF847C);
}

label {
    font-weight: 600;
    font-size: 1.8rem;
    color: #f6be7a;
}

.card {
    max-width: 900px;
    background-color: #2A363B;
    margin: 40px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 10px;
}

.row {
    margin-top: 15px;
}

.row .control-element {
    padding: 10px;
    text-align: center;
}

.row input {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3D5656;
    outline: none;
    font-size: 1rem;
    color: white;
    background-color: #3D5656;
}

.row button {
    background-color: #7A9D54;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    transition: background-color 0.5s ease;
}

.row button:hover {
    background-color:#557A46 ;
}

.row p {
    margin-top: 10px;
    font-size: 1rem;
    text-align: justify;
    color: white;
}


@media ( max-width: 950px ) {
    .card {
        width: 90%;
    }

    label {
        font-size: 1.25rem;
    }

    .row p {
        font-size: .9rem;
        margin-top: 30px;
    }
}
